/* title */

h2 {
    /* gradient text */
    background: -moz-linear-gradient(90deg, rgba(1, 218, 202, 1) 0%, rgba(138, 28, 124, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(1, 218, 202, 1) 0%, rgba(138, 28, 124, 1) 100%);
    background: linear-gradient(90deg, rgba(1, 218, 202, 1) 0%, rgba(138, 28, 124, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01daca", endColorstr="#8a1c7c", GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* size */
    font-size: 3rem;
}

/* form */

.main-div {
    margin-top: 2rem;
}

@media screen and (min-width: 700px) {
    .main-div {
        width: 80%;
    }
}

.form-control {
    color: white;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.form-control:focus {
    background-color: rgba(1, 218, 202, 0.5);
}

/* buttons */

.btn {
    /* animation */
    transition: transform 80ms ease-in;
}

.btn:active {
    transform: scale(0.95);
}

/* login button */

.btn-primary {
    /* position */
    /* margin-bottom: 1rem; */
    /* border */
    border-radius: 35px;
    border: transparent;
    /* color */
    background: rgba(232, 28, 130, 1);
    background: -moz-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232, 28, 130, 1)), color-stop(81%, rgba(138, 28, 124, 1)), color-stop(100%, rgba(138, 28, 124, 1)));
    background: -webkit-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: -o-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: -ms-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: linear-gradient(to bottom, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81c82', endColorstr='#8a1c7c', GradientType=0);
}

.btn-primary:hover {
    background: rgba(138, 28, 124, 1);
    background: -moz-linear-gradient(top, rgba(138, 28, 124, 1) 0%, rgba(138, 28, 124, 1) 19%, rgba(232, 28, 130, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138, 28, 124, 1)), color-stop(19%, rgba(138, 28, 124, 1)), color-stop(100%, rgba(232, 28, 130, 1)));
    background: -webkit-linear-gradient(top, rgba(138, 28, 124, 1) 0%, rgba(138, 28, 124, 1) 19%, rgba(232, 28, 130, 1) 100%);
    background: -o-linear-gradient(top, rgba(138, 28, 124, 1) 0%, rgba(138, 28, 124, 1) 19%, rgba(232, 28, 130, 1) 100%);
    background: -ms-linear-gradient(top, rgba(138, 28, 124, 1) 0%, rgba(138, 28, 124, 1) 19%, rgba(232, 28, 130, 1) 100%);
    background: linear-gradient(to bottom, rgba(138, 28, 124, 1) 0%, rgba(138, 28, 124, 1) 19%, rgba(232, 28, 130, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a1c7c', endColorstr='#e81c82', GradientType=0);
}

/* sign up button */

.btn-info {
    /* border */
    border: none !important;
    border-radius: 35px;
    /* background */
    background: rgba(1, 7, 83, 1);
    background: -moz-linear-gradient(top, rgba(1, 7, 83, 1) 0%, rgba(5, 52, 150, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1, 7, 83, 1)), color-stop(100%, rgba(5, 52, 150, 1)));
    background: -webkit-linear-gradient(top, rgba(1, 7, 83, 1) 0%, rgba(5, 52, 150, 1) 100%);
    background: -o-linear-gradient(top, rgba(1, 7, 83, 1) 0%, rgba(5, 52, 150, 1) 100%);
    background: -ms-linear-gradient(top, rgba(1, 7, 83, 1) 0%, rgba(5, 52, 150, 1) 100%);
    background: linear-gradient(to bottom, rgba(1, 7, 83, 1) 0%, rgba(5, 52, 150, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010753', endColorstr='#053496', GradientType=0);
}

.btn-info:hover {
    background: rgba(5, 51, 150, 1);
    background: -moz-linear-gradient(top, rgba(5, 51, 150, 1) 0%, rgba(1, 6, 83, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5, 51, 150, 1)), color-stop(100%, rgba(1, 6, 83, 1)));
    background: -webkit-linear-gradient(top, rgba(5, 51, 150, 1) 0%, rgba(1, 6, 83, 1) 100%);
    background: -o-linear-gradient(top, rgba(5, 51, 150, 1) 0%, rgba(1, 6, 83, 1) 100%);
    background: -ms-linear-gradient(top, rgba(5, 51, 150, 1) 0%, rgba(1, 6, 83, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 51, 150, 1) 0%, rgba(1, 6, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053396', endColorstr='#010653', GradientType=0);
}

/* form card */

.card {
    height: 20rem;
}

/* overlay */

.piggy {
    background: rgba(232, 28, 130, 1);
    background: -moz-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232, 28, 130, 1)), color-stop(81%, rgba(138, 28, 124, 1)), color-stop(100%, rgba(138, 28, 124, 1)));
    background: -webkit-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: -o-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: -ms-linear-gradient(top, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    background: linear-gradient(to bottom, rgba(232, 28, 130, 1) 0%, rgba(138, 28, 124, 1) 81%, rgba(138, 28, 124, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81c82', endColorstr='#8a1c7c', GradientType=0);
    height: 20rem;
    /* border */
    border-radius: 5px 0 0 5px;
    border-right: 3px solid black;
}

.piggy img {
    margin-top: 1rem;
    width: auto;
    height: 50%;
}