<app-navigation></app-navigation>

<div class="container-fluid text-white my-auto">
    <!-- title -->
    <h2 class="text-center">Welcome {{ user }}</h2>

    <!-- main card -->
    <div class="card container main-card">
        <div class="row container mx-auto">
            <div class="card income col-md-3 stat-cards">
                <div class="row stat-row">
                    <img src="https://image.flaticon.com/icons/svg/82/82479.svg" class="my-auto col-sm-4">
                    <p class="col-sm-8 text-center my-auto">You have a total Income of
                        {{ getIncomeTotal(0) | currency }} this
                        month</p>
                </div>
            </div>
            <div class="card expense col-md-3 stat-cards">
                <div class="row stat-row">
                    <img src="https://image.flaticon.com/icons/svg/669/669844.svg" class="my-auto col-sm-4">
                    <p class="col-sm-8 text-center my-auto">You have a spent a total of
                        {{ getExpenseTotal(0) | currency }} this
                        month</p>
                </div>
            </div>
            <div class="card balance col-md-3 stat-cards">
                <div class="row stat-row">
                    <img src="https://image.flaticon.com/icons/svg/1715/1715428.svg" class="my-auto col-sm-4">
                    <p class="col-sm-8 text-center my-auto">You have a balance of <span
                            [ngStyle]="{color: overBalance ? 'red' : '#82ff9e'}">{{ getBalance() | currency }}</span>
                        this month</p>
                </div>
            </div>
            <div class="card budget col-md-2 stat-cards">
                <div class="stat-row">
                    <p class="text-center my-auto">You are currently <span
                            [ngStyle]="{color: overBalance ? 'red' : '#82ff9e'}">{{ withinBudget() }}</span> your total
                        budget</p>
                </div>
            </div>
        </div>
        <!-- pie chart -->
        <!-- <div class="piechart" style="display: block">
            <canvas baseChart
                [data]="chartData"
                [labels]="chartLabels"
                [chartType]="chartType"></canvas>
        </div> -->
        <div class="row list-row container mx-auto">
            <!-- Expense list -->
            <div class="card col-md-3 list-card">
                <div class="card-title text-center fancy"><span>Expenses</span></div>
                <div *ngFor="let expense of expenseItems; let i = index">
                    <div *ngIf="i<3" class="items">
                        <p class="name float-left">{{ expense.name }}</p>
                        <p class="amnt float-right btn btn-info">{{ expense.amount | currency}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" (click)="goTo('expense')">View All</button>
                    </div>
                </div>
            </div>
            <!-- Income list -->
            <div class="card col-md-3 list-card">
                <div class="card-title text-center fancy"><span>Income</span></div>
                <div *ngFor="let income of incomeItems; let i = index">
                    <div *ngIf="i<3" class="items">
                        <p class="name float-left">{{ income.name }}</p>
                        <p class="amnt float-right btn btn-info">{{ income.amount | currency}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" (click)="goTo('income')">View All</button>
                    </div>
                </div>
            </div>
            <!-- Budget list -->
            <div class="card col-md-3 list-card">
                <div class="card-title text-center fancy"><span>Budget</span></div>
                <div *ngFor="let budget of budgetItems; let i = index">
                    <div *ngIf="i<3" class="budget-items">
                        <p class="name">{{ budget.category }}</p>
                        <div class="progress">
                            <div [ngStyle]="{'width': setProgress(budget.totalAmnt, budget.category)}"
                                class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">
                                {{ setProgress(budget.totalAmnt, budget.category)}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" (click)="goTo('budget')">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>